
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="/Bonobo.Git.Server/favicon.ico?v=2" type="image/x-icon" />
    <title>Browse Repository :: Cyberbillboard</title>
    <link href="/Bonobo.Git.Server/Content/bundled.css?v=cIEDOAIuf6IOL97V9qQmAi2cfxvHyJcxzu0z5_bItuc1" rel="stylesheet"/>

</head>
<body class="Repository Blob">
    <div class="main">
        <div class="header">
            <div class="navigation pure-menu pure-menu-open pure-menu-horizontal">
                <a class="pure-menu-heading" href="/Bonobo.Git.Server/">Cyberbillboard</a>

                <ul>
                        <li><a href="/Bonobo.Git.Server/Repository/Index" class="repository"><i class="fa fa-hdd-o"></i> Repositories</a></li>
                                                                    <li class="separator"><a href="/Bonobo.Git.Server/Account/ludiac/Edit"><i class="fa fa-male"></i> ludiac</a></li>
                            <li><a href="/Bonobo.Git.Server/Home/LogOff"><i class="fa fa-sign-out"></i> Sign Out</a></li>
                </ul>
            </div>
        </div>

        <div class="content">
            
    
    <h1>LDW.dll.config</h1>
    <div class="pure-menu pure-menu-open pure-menu-horizontal repository-menu">
        <ul>
            <li><a href="/Bonobo.Git.Server/Repository/LDW-Ludiac" class="detail"><i class="fa fa-hdd-o"></i> Details</a></li>
            <li><a href="/Bonobo.Git.Server/Repository/LDW-Ludiac/master/Tree/SharedLibs/LDW.dll.config" class="browser"><i class="fa fa-files-o"></i> Repository Browser</a></li>
            <li><a href="/Bonobo.Git.Server/Repository/LDW-Ludiac/master/Commits" class="commits"><i class="fa fa-random"></i> Commits</a></li>
            <li><a href="/Bonobo.Git.Server/Repository/LDW-Ludiac/master/Download/SharedLibs/LDW.dll.config" class="download"><i class="fa fa-download"></i> Download</a></li>
            <li><a href="/Bonobo.Git.Server/Repository/LDW-Ludiac/Clone" class="clone"><i class="fa fa-copy"></i> Clone</a></li>
        </ul> 
    </div>
    



    <nav class="branches">
        <ul>
            <li>
                <a href="#" class="branch">master</a>
                    <ul>
                        <li class="branch active"><a href="/Bonobo.Git.Server/Repository/LDW-Ludiac/master/Tree">master</a></li>

                    </ul>
            </li>
        </ul>
    </nav>


    <p class="breadcrumbs">
        <em><a href="/Bonobo.Git.Server/Repository/LDW-Ludiac/master/Tree">Home</a></em>
            /
<a href="/Bonobo.Git.Server/Repository/LDW-Ludiac/master/Tree/SharedLibs">SharedLibs</a>                    /
                    <em>LDW.dll.config</em>
    </p>
    <div class="blob">
            <div class="controls">
                <a href="/Bonobo.Git.Server/Repository/LDW-Ludiac/master/Raw/SharedLibs/LDW.dll.config"><i class="fa fa-download"></i> Download</a>
                <a href="/Bonobo.Git.Server/Repository/LDW-Ludiac/master/Raw/SharedLibs/LDW.dll.config?display=True"><i class="fa fa-file-text"></i> Raw</a>
                <a href="/Bonobo.Git.Server/Repository/LDW-Ludiac/master/History/SharedLibs/LDW.dll.config"><i class="fa fa-history"></i> History</a>
                <a href="/Bonobo.Git.Server/Repository/LDW-Ludiac/master/Blame/SharedLibs/LDW.dll.config">Blame</a>
            </div>

            <pre><code>&lt;?xml version=&quot;1.0&quot; encoding=&quot;utf-8&quot;?&gt;
&lt;configuration&gt;
  &lt;runtime&gt;
    &lt;assemblyBinding xmlns=&quot;urn:schemas-microsoft-com:asm.v1&quot;&gt;
      &lt;dependentAssembly&gt;
        &lt;assemblyIdentity name=&quot;System.Windows.Interactivity&quot; publicKeyToken=&quot;31bf3856ad364e35&quot; culture=&quot;neutral&quot;/&gt;
        &lt;bindingRedirect oldVersion=&quot;0.0.0.0-4.0.0.0&quot; newVersion=&quot;4.0.0.0&quot;/&gt;
      &lt;/dependentAssembly&gt;
      &lt;dependentAssembly&gt;
        &lt;assemblyIdentity name=&quot;Common.Logging.Core&quot; publicKeyToken=&quot;af08829b84f0328e&quot; culture=&quot;neutral&quot;/&gt;
        &lt;bindingRedirect oldVersion=&quot;0.0.0.0-3.4.1.0&quot; newVersion=&quot;3.4.1.0&quot;/&gt;
      &lt;/dependentAssembly&gt;
      &lt;dependentAssembly&gt;
        &lt;assemblyIdentity name=&quot;Common.Logging&quot; publicKeyToken=&quot;af08829b84f0328e&quot; culture=&quot;neutral&quot;/&gt;
        &lt;bindingRedirect oldVersion=&quot;0.0.0.0-3.4.1.0&quot; newVersion=&quot;3.4.1.0&quot;/&gt;
      &lt;/dependentAssembly&gt;
    &lt;/assemblyBinding&gt;
  &lt;/runtime&gt;
&lt;startup&gt;&lt;supportedRuntime version=&quot;v4.0&quot; sku=&quot;.NETFramework,Version=v4.6&quot;/&gt;&lt;/startup&gt;&lt;/configuration&gt;
</code></pre>
    </div>




        </div>

        <div class="footer">
            <p>
                Bonobo Git Server (3.6.0.0) &copy; 2015 <a href="http://www.chodounsky.net">Jakub Chodounský</a>
                &middot; <a href="http://bonobogitserver.com/">Official Page</a> 
                &middot; <a href="https://github.com/jakubgarfield/Bonobo-Git-Server">Github</a>
            </p>
        </div>
    </div>

    <script src="/Bonobo.Git.Server/bundled.js?v=rdN2JJVuABjROsps5FwYDE6LuZHYi_5ddjDmg6h93FU1"></script>

    
    
    <script>hljs.configure({tabReplace:'    '});hljs.initHighlightingOnLoad();</script>


</body>
</html>
