<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ExampleLDWApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MahApps.Metro" publicKeyToken="f4fb5a3c4d1e5b4f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.0.23" newVersion="1.5.0.23" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
        <ExampleLDWApp.Properties.Settings>
            <setting name="MinWidth" serializeAs="String">
               <value>1920</value>
       
      </setting>
           <setting name="MinHeight" serializeAs="String">
               <value>1080</value>
        
      </setting>
           <setting name="PCIsSetup" serializeAs="String">
               <value>True</value>
        
      </setting>
           <setting name="ClientID" serializeAs="String">
              <value>ea56a5b3-cf15-4295-bcf9-a32d4b6e209b</value>
        
      </setting>
            <setting name="ClientHash" serializeAs="String">
               <value>n29XkB7o5Eu3V9BD</value>
        
      </setting>
          <setting name="ServerDomain" serializeAs="String">
               <value>http://indicms.com</value>
      </setting>
    </ExampleLDWApp.Properties.Settings>
  </userSettings>
</configuration>
